.sections{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  flex-direction: column;
}
section{
  margin-top:20px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width:1046px){
  section{
    width:100%;
    margin:0px;
  }
 
}